body{
  margin:0;
  padding:0;
  font-style: normal;
  font-family: monospace;
  background: url(indexbackground.jpeg) no-repeat;
  background-size: 1500px 1150px;
}
.login-box{
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: black;
}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 40px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid;
}
.textbox i{
  width: 30px;
  float: left;
  text-align: center;
}
.textbox input{
  border: none;
  outline: none;
  background-color: white;
  width: 230px;
  height: 30px;
  font-size: 20px;
  float:left;
  margin: 10px;
}
.button{
  width: 100%;
  background: none;
  border: 2px solid black;
  color: black;
  padding: 5px;
  font-size: 20px;
  cursor: pointer;
  margin: 10px 0;
}
.info{
  text-align: center;
  font-size: 18px;
}
